<template>
    <div>
        <!-- Single resource -->
        <template v-if="data.template == 'resource'">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a :href="data.link" target="_blank" rel="noopener noreferrer">
                            <strong v-if="data.label">{{ data.label }}</strong>
                            <strong v-else>{{ data.link }}</strong>
                        </a>
                        <template v-if="data.label"> &mdash; <small>{{data.link}}</small></template>
                        <template v-if="data.description">
                            <br>{{data.description}}
                        </template>
                    </div>
                </div>
            </article>
        </template>
        <!-- Collection / Container -->
        <template v-else>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-32x32" />
                </figure>
                <div class="media-content">
                    <div class="content">
                        <strong>{{ data.title }}</strong>
                    </div>

                    <template v-if="data.children && data.children.length">
                        <Pages-ResourcesInternal v-for="child in data.children" :data="child" />
                    </template>
                </div>
            </article>
        </template>
    </div>
</template>

<script>
export default {
  props: {
    data: Object
  }
};
</script>