<template>
    <div class="resources-list">
        <div v-for="post in resources" :key="post.title" class="post">
            <router-link tag="h2" :to="post.path" class="title">{{ post.frontmatter.title }}</router-link>
            <p v-if="post.frontmatter.description">{{ post.frontmatter.description }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            resources() {
                return this.$site.pages
                    .filter(x => x.path.startsWith('/resources/') && !x.frontmatter.resources_index)
                    .sort((a, b) => {
                         var nameA=a.title.toLowerCase(), nameB=b.title.toLowerCase();
                        if (nameA < nameB)
                            return -1;
                        if (nameA > nameB)
                            return 1;
                        return 0;
                    })
            }
        }
    }
</script>

<style>

</style>