<template>
    <div class="timeline is-centered">
        <style>{{gradients}}</style>
        <template v-for="(post, index) in timeline" >
            <header :key="post.path" v-if="post.frontmatter.milestone" class="timeline-header">
                <span class="tag is-large is-icon is-primary" :style="color(index)">
                    {{ post.title }}{{ post.frontmatter.date ? " &mdash; " + post.frontmatter.date : "" }}
                </span>
            </header>
            <div :key="post.path" v-else class="timeline-item is-warning">
                <div class="timeline-marker is-primary" :style="color(index)"></div>
                <div class="timeline-content">
                    <p class="heading">
                        {{ post.title }}{{ post.frontmatter.date ? " &mdash; " + post.frontmatter.date : "" }}
                    </p>
                    <Content :pageKey="post.key"/>
                </div>
            </div>
        </template>
        <header class="timeline-header">
            <span class="tag is-large is-primary" :style="color(timeline.length)">To be continued...</span>
        </header>
    </div>
</template>

<script>
var moment = require('moment');

export default {
    computed: {
        timeline() {
            return this.$site.pages
                .filter(x => x.path.startsWith('/timeline/') && !x.frontmatter.timeline_index)
                .sort((a, b) =>  moment(a.frontmatter.date, "DD-MM-YYYY") - moment(b.frontmatter.date, "DD-MM-YYYY"))
        },
        gradients() {
            return this.timeline.slice(1)
                .map((_, index) => {
                    const baseA = [247, 168, 184];
                    const baseB = [85, 205, 252];
                    index += 1;
                    const secA = this.pickHex(baseA, baseB, (index - 1) / (this.timeline.length) / 1);
                    const secB = this.pickHex(baseA, baseB, (index + 1) / (this.timeline.length) / 1);
                    return [secA, secB];
                })
                .map((c) => {
                    const rgb = (rgb) => `rgb(${rgb[0]},${rgb[1]},${rgb[2]})`
                    return `background: linear-gradient(${rgb(c[0])}, ${rgb(c[1])}) !important;`
                })
                .map((css, index) => {
                    return `.timeline.is-centered .timeline-item:nth-child(${index+3})::before {${css}}`
                })
                .join(" ");
        }
    },
    methods: {
        pickHex(color1, color2, weight) {
            var p = weight;
            var w = p * 2 - 1;
            var w1 = (w/1+1) / 2;
            var w2 = 1 - w1;
            var rgb = [Math.round(color1[0] * w1 + color2[0] * w2),
                Math.round(color1[1] * w1 + color2[1] * w2),
                Math.round(color1[2] * w1 + color2[2] * w2)];
            return rgb;
        },
        color(index) {
            let style = (a,b,c) => {
                const rgb = this.pickHex(a,b,c);
                return `background-color: rgb(${rgb[0]},${rgb[1]},${rgb[2]}) !important; border-color: white !important;`;
            }
            return style([247, 168, 184], [85, 205, 252], index / (this.timeline.length) / 1)
        },
        gradientsClasses(index) {
            return `timeline-item is-warning gradient-${index}`
        }
    }
}
</script>

<style scoped>
p {
    font-size: 1rem;
    line-height: initial;
    margin: initial;
}
img {
    width: 100%;
    max-width: 100%;
    line-height: 0;
    margin: initial;
}
.timeline.is-centered .timeline-item:nth-of-type(2n)::before {
    width: 3px;
    right: -1.5px;
}
.timeline.is-centered .timeline-item:nth-of-type(2n+1)::before {
    width: 3px;
    left: -1.5px;
}
</style>