<template>
  <span class="text" v-html="$site.themeConfig.footer"/>
</template>

<style scoped>
  .text {
    display: block;
    font-size: 0.8rem;
    text-align: left;
    padding: 4rem 5vw;
  }
</style>
